<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/espaceClient.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
    <title>Espace Client</title>
</head>
<body>

    <%-include("navbar/navbar") %>
    <div class="img1">
        <img src="/images/andre-taissin-5OUMf1Mr5pU-unsplash.jpg" alt="">
        <p>Cher client nous vous accompagnons avec précision ...</p>
    </div>
    <main>
        <p class="texte1"> Liste des Opérations</p>
        <div class="operations">
            <div class="card solde shadow">
                <img src="/images/wpf_bank-cards.png" alt="" srcset="">
                <a href="espaceClientSolde"><p>Consulter son solde</p></a>
                
            </div>
            <div class="card transfert shadow">
                
                <img src="/images/fa6-solid_money-bill-transfer.png" alt="" srcset="">
                <a href="espaceDepot"><p>Effectuer un Transfert</p></a>
                
            </div>
            <div class="card message shadow">
                <img src="/images/subway_sms-3.png" alt="" srcset="">
                <a href="espaceChat"><p>Envoyer un message à BestBank</p></a>
            </div>
        </div>

        <p class="texte2">
            <span>*</span> Veuillez remplir ce formulaire pour proceder a l’ouverture de vontre compte a BestBank
        </p>

   <!--                                          -->     
        <div class="div-form">
            <form class="form"  method="post" action="/post/upload" enctype="multipart/form-data">
                <p class="title">CREATION DU COMPTE BANCAIRE </p>
                <!-- <p class="message">Signup now and get full access to our app. </p> -->
                <div class="flex">
                    <label>
                        <input  placeholder="" type="text" class="input" name="nom">
                        <span>Nom</span>
                    </label>
            
                    <label>
                        <input placeholder="" type="text" class="input" name="first_name">
                        <span>Prenoms</span>
                    </label>
                </div>  

                <div class="flex 2">
                    <label>
                        <input  placeholder="" type="date" class="input" name="birth_date">
                        <span>Date de naissance</span>
                    </label>
            
                    <label>
                        <input  placeholder="" type="text" class="input" name="job">
                        <span>Fonction</span>
                    </label>
                </div>  
                        
                <label>
                    <input  placeholder="" type="email" class="input" name="email">
                    <span>Email</span>
                </label> 
                    
                <label>
                    <input  placeholder="" type="text" class="input" name="city">
                    <span>Ville de résidence</span>
                </label>
                <label>
                    <input placeholder="" type="text" class="input" name="country">
                    <span>Pays de résidence</span>
                </label>
                <div class="flex 3">
                    <label>
                        <input  placeholder="" type="text" class="input" name="nationality">
                        <span>Nationalité</span>
                    </label>
                    <div class="sexe">
                        <label>
                            <input  placeholder="" type="radio" name="sex" value="HOMME" >
                            <span class="input">Homme</span>
                        </label>

                        <label>
                            <input placeholder="" type="radio" name="sex" value="FEMME">
                            <span class="input">Femme</span>
                        </label>
                    </div>
                    
                    
                </div>  

                <div class="flex 4">
                    <label>
                        <input  placeholder="" type="number" class="input" name="phone_number">
                        <span>+225</span>
                    </label>
            
                    
                </div>  

                <!-- <div class="flex 5">
                
            
                    <label>
                        <input  placeholder="" type="file" class="input" name ="imageUrl">
                        
                    </label>
                </div>   -->
                <button class="submit" type="submit">Submit</button>
                <p class="signin">Already have an acount ? <a href="#">Signin</a> </p>
            </form>
        </div>
    </main>
    <%-include("footer/footer") %>
</body>
</html>