<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/espaceClientSolde.css">
    <title>Document</title>
</head>
<body>
    <main>
        <p class="texte1"> Liste des Opérations</p>
        <div class="operations">
            <div class="card solde shadow">
                <img src="/images/ic_outline-account-balance-wallet.png" alt="" srcset="">
                <p>Ouverture de compte</p>
                
            </div>
            <div class="card transfert shadow">
                
                <img src="/images/fa6-solid_money-bill-transfer.png" alt="" srcset="">
                <p>Effectuer un Transfert</p>
                
            </div>
            <div class="card message shadow">
                <img src="/images/subway_sms-3.png" alt="" srcset="">
                <p>Envoyer un message à BestBank</p>
            </div>
        </div>

        <div class="solde-card"></div>

        <p class="texte2"></p>
        <div class="details">
            <table>
                <tr>
                  <td>18/05/2022</td>
                  <td>16 : 10</td>
                  <td>Abidjan</td>
                  <td>Kouassi Amoin Francine</td>
                  <td>-500 000 Fcfa</td>
                </tr>
                
                <tr>
                  <td>20/07/2022</td>
                  <td>Maria Anders</td>
                  <td>Germany</td>
                  <th></th>
                  <th></th>
                </tr>

                <tr>
                  <td>03/08/2022</td>
                  <td>Francisco Chang</td>
                  <td>Mexico</td>
                  <th></th>
                  <th></th>
                </tr>

                <tr>
                    <td>15/06/2023</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <th></th>
                    <th></th>
                </tr>

                <tr>
                    <td>24/08/2023</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                    <th></th>
                    <th></th>
                </tr>
              </table>
        </div>

    </main>
</body>
</html>