<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/espaceClient.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
   
    <title>Espace Client</title>
</head>
<body>
    <main>
        <p class="texte1"> Liste des Opérations</p>
        <div class="operations">
            <div class="card solde shadow">
                <img src="/images/wpf_bank-cards.png" alt="" srcset="">
                <p>Consulter son solde</p>
                
            </div>
            <div class="card transfert shadow">
                
                <img src="/images/fa6-solid_money-bill-transfer.png" alt="" srcset="">
                <p>Effectuer un Transfert</p>
                
            </div>
            <div class="card message shadow">
                <img src="/images/subway_sms-3.png" alt="" srcset="">
                <p>Envoyer un message à BestBank</p>
            </div>
        </div>

        <p class="texte2">
            <span>*</span> Veuillez remplir ce formulaire pour proceder a l’ouverture de vontre compte a BestBank
        </p>

        <div class="div-form"></div>
    </main>
    
</body>
</html>