<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/espaceClientSolde.css">
    <title>Document</title>
</head>
<body>
    <%-include("navbar/navbar") %>
    <div class="img1">
        <img src="/images/firmbee-com-dAmHWsRYP9c-unsplash.jpg" alt="">
        <p>Cher client nous vous accompagnons avec précision ...</p>
    </div>
    <main>
        <p class="texte1"> Liste des Opérations</p>
        <div class="operations">
            <div class="card solde shadow">
                <img src="/images/ic_outline-account-balance-wallet.png" alt="" srcset="">
                <a href="espaceClient"><p>Ouverture de compte</p></a>
                
            </div>
            <div class="card transfert shadow">
                
                <img src="/images/fa6-solid_money-bill-transfer.png" alt="" srcset="">
                <a href="espaceDepot"><p>Effectuer un Transfert</p></a>
                
            </div>
            <div class="card message shadow">
                <img src="/images/subway_sms-3.png" alt="" srcset="">
                <a href="espaceChat"><p>Envoyer un message à BestBank</p></a>
            </div>
        </div>

        <div class="solde-card">
            <div class="cards">
                <div class="card-info">
                  <div class="title">
                    <p class="solde-title">Solde actuel</p>
                    <p class="montant">1 002 892 689 Fcfa </p>
                  </div>
                  
                </div>
            </div>
        </div>

        <p class="texte2">Détails des transactions</p>
        <div class="details">
            <table>
                <tr>
                  <td>18/05/2022</td>
                  <td>16 : 10</td>
                  <td>Abidjan</td>
                  <td>Kouassi Amoin Francine</td>
                  <td>-500 000 Fcfa</td>
                </tr>
                
                <tr>
                  <td>20/07/2022</td>
                  <td>13 : 45</td>
                  <td>Germany</td>
                  <td>Agoh Angelo Pierre</td>
                  <td>+1 500 200 Fcfa</td>
                </tr>

                <tr>
                  <td>03/08/2022</td>
                  <td>07 : 10</td>
                  <td>Mexico</td>
                  <td>Goa Clarence Emmanuel</td>
                  <td>-100 000 000 Fcfa</td>
                </tr>

                <tr>
                    <td>15/06/2023</td>
                    <td>15 : 40</td>
                    <td>Mexico</td>
                    <td>Kouassi Mouayé Lysette</td>
                    <td>+1 500 000 Fcfa</td>
                </tr>

                <tr>
                    <td>24/08/2023</td>
                    <td>08 : 50</td>
                    <td>Mexico</td>
                    <td>Agbo Goa Marvine</td>
                    <td>+2 500 000 Fcfa</td>
                </tr>
              </table>
        </div>

    </main>
</body>
</html>