<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('navbar/navbar') %>
    <div >

      <div class="slid"><img src="/images/assortiment-elements-commerciaux-vue-face.jpg" alt="" width="100%" height="80%"></div>
      
        <div class="nosoffr">
          <div class="pointorange"></div>
          <h2> Découvrez nos offres</h2>
        </div>

        <div class="ligcadr1">
          <div class="card1">
            <img src="/images/african-female.jpg" alt="">
          </div>
          <div class="card2">
            <div class="traitorang"></div>
            <p>Avec BestBank , faites vous assister<br> par nos meilleurs agents afin de <br>satisfaits vos besions et de repondre <br>a vos attentes.</p>
          </div>
          <div class="card1">
            <img src="/images/ordi.jpg" alt="">
          </div>
        </div>

        <div class="ligcadr1">
      
          <div class="card2">
            <div class="traitorang"></div>
            <p>Avec BestBank , accédez à vos comptes par<br> Internet à tout moment et en toute sécurité;<br>
              débité et credité vos compte facilement.</p>
          </div>

          <div class="card1">
            <img src="/images/assistance.jpeg" alt="">
          </div>

          <div class="card2">
            <div class="traitorang"></div>
            <p>Avec BestBank , effectué vos<br> transactions partout et a tout moment<br> sans vraiment fournir d’efforts.</p>
          </div>
        </div>
        <div class="apropos" id="a_propos">
          <div class="pointorange1"></div>
          <h2> À propos de Bestbank</h2>
        </div>

        <div class="cardblanc">
          <h2>.   Qui est Bestbank?</h2>
          <div class="bestbank">
            
          <p> Nous somme une banque numérique basé en côte d’Ivoire plus précisément à Abidjan<br>
             dans la commune de cocody non loin de la mairie.<br>
            Ayant à sa direction Mademoiselle Goa Marie Constance , BestBank fut créé le <br>
            24 Juin 2022 par GMC et CO.</p>

          </div>
          <h2>.  Quels sont les objectifs de Bestbank?</h2>
          <div class="bestbank1">
           
            <p>
              Elle a été créer pour :<br>
              -permettre aux utilisateur de créer leur compte sans toute fois avoir a se déplacer.<br>
              -permettre aux utilisateur d’effectuer des transaction en toute sécurité, facité et fiabilité.<br>
              -permettre aux utilisateur d’avoir une boite d’assistance afin de poser toutes leur préoccupations <br>
              et de recevoir  rapidement une aide, une réponse ... 

            </p>
          </div>
            

        </div>

    </div>
    
    <%-include('footer/footer')%>

    
  </body>
</html>
