<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/inscription.css" />
  </head>
  <body>
    <form class="form">
      <h2>INSCRIPTION</h2>
      <p class="form-title">Connectez-vous à votre compte</p>
      <div class="input-container">
        <input type="text" placeholder="Nom" name="nom"/>
        <span> </span>
      </div>
      <div class="input-container">
        <input type="email" placeholder="Adress email" name="email"/>
      </div>
      <div class="input-container">
        <input type="number" placeholder="Numero telephone" name="telephone"/>
        <span> </span>
      </div>
      <div class="input-container">
        <input type="password" placeholder="Enter password" name="password"/>
      </div>
      <button type="submit" class="submit">inscription</button>
    </form>
  </body>
</html>
