.card {
  width: 460px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.chat-header {
  background-color: #d6ecf3;
  color: black;
  padding: 10px;
  font-size: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.chat-window {
  height: 420px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 18px;
  padding: 15px;
  width: 80%;
  position: absolute;
  top: 80%;
  left: 5%;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
