body {
  background-color: #ddeff4;
}
main {
  height: 100vh;
  width: 60%;
  margin: auto;
}
.texte1 {
  text-align: center;
  font-size: 3.5rem;
}
.texte2 {
  text-align: center;
}
.operations {
  margin: 50px auto;
  width: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon {
  width: 290px;
  height: 185px;
  /* border-radius: 30px; 
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    background-color: whitesmoke;*/
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-top: 2rem;
}
.shadow {
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/**
  
  .card {
  width: 190px;
  height: 254px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(190, 190, 190),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
  }
  
  
  **/
.icon img {
  margin-left: 25%;
  margin-top: 1rem;
}
.icon p {
  text-align: center;
  margin-top: 1rem;
  color: #b87410;
}

/* formulaire */
.feed-form>p{
    text-align: center;
    color: red;
}
.feed-form {
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  width: 50%;

}

.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 14px;
  color: #4b4b4b;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  margin: 0 auto;
  margin-top: 5%;
  width: 50%;
  height: 54px;
  font-size: 14px;
  color: white;
  background: #075367;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

.img1 > p {
    position: absolute;
    top: 25%;
    left: 28%;
    font-size: 45px;
    color: white;
  }
  .img1 > img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
  }