.slid img{
    width: 80%;
    height: 50rem;
    margin-left: 12rem;
  }
.nosoffr{
    display: flex;
    margin-left: 12rem;
    margin-top: 2rem;
}
.pointorange{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #B87410;
    margin-top: 0.5rem;
}
.nosoffr h2{
    color: #3C342B;
    font-size: 2.3rem;
    margin-left: 1rem;
}
.ligcadr1{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    justify-content: space-around;
    margin-left: 10rem;
    margin-top: 5rem;
}
.ligcadr1 .card1{
    width: 38rem;
    height: 25rem;
   
}
.ligcadr1 .card1 img {
   width: 100%;
   height: 100%;
   border-radius: 3rem;
}
.card2{
    width: 27rem;
    height: 10rem;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}
.card2 p{
    font-size: 1.5rem;
    color: #3C342B;
    margin-top: 3rem;
}
.traitorang{
    width: 10rem;
    height: 1rem;
    background:#B87410 ;
    margin: auto;
}
.apropos{
    display: flex;
    margin-top: 2rem;
}

.apropos h2{
    margin-top: 2.5rem;
    color: #3C342B;
    font-size: 2.3rem;
    margin-left: 1.5rem;
}
.pointorange1{
    width: 1.5rem;
    height: 1.5rem;
    background-color: #B87410;
    margin-top: 3rem;
    margin-left: 76rem;
}
.cardblanc{
    width: 70%;
    background-color: white;
    height: 45rem;
    margin: auto;
    margin-top: 5rem;
    border-radius: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.bestbank{
text-align: center;
width: 90%;
}
.cardblanc h2{
    font-size: 2rem;
    margin-left: 8rem;
    padding-top: 3rem;
    color:#B87410 ;
}
.bestbank p{
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
}
.bestbank1{
    width: 90%

}
.bestbank1 p{
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-left: 8rem;
}


@media screen and (max-width: 1000px){
    .cardblanc{
        height: 60rem;
        margin: auto;
        margin-top: 3rem;
        
    }

    .cardblanc h2{
        font-size: 1.5rem;
    }
    .bestbank p{
        font-size: 1.3rem;
    }
    .bestbank1 p{
        font-size: 1.3rem;
    }
}

