<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>
    <link rel="stylesheet" href="/css/connexion.css" />
  </head>
  <body>
    <form class="form" method="post" action="/post/connexion" >
        <h2>CONNEXION</h2>
      <p class="form-title">Connectez-vous à votre compte</p>
      <div class="input-container">
        <input type="text" name="nomutilisateur" placeholder=" Nom d'Utilisateur" />
        <span> </span>
      </div>
      <div class="input-container">
        <input type="password" placeholder=" Mot de Passe" name="password"/>
      </div>
      <button type="submit" class="submit">connexion</button>

      <p class="signup-link">
        créer un
        <a href="inscription">compte</a>
      </p>
    </form>
  </body>
</html>
