<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200;300&display=swap" rel="stylesheet">
    <title>Document</title>

    <link rel="stylesheet" href="/css/dasbord/dashbordSuperAdmin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu1">
          <img src="/images/Minimal Professional Economics Bank Logo.png" alt="" />
        </div>

        <div class="menu2">
          <p>
            <i class="fa-sharp fa-solid fa-house"></i>
            <a href="dashbordAcceuil">TABLEAU</a>
          </p>
          <p>
            <i class="fa-sharp fa-solid fa-coins"></i>
            <a href="#">ADMINISTRATEURS</a>
          </p>

          <p>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <a href="dashbordAdmin">COMPTES</a>
          </p>
        
          <p>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="connexionAdmins" id="deconnexion">DÉCONNEXION</a>
          </p>
        </div>
      </header>

      <section>
        <h1>LISTE DES ADMININSTRATEURS</h1>

        <table>
          <tr>
            <th> Nom</th>
            <th>Prenoms</th>
            <th>Numéro de Téléphone</th>
            <th>Adresse Email</th>
            <th>Mot De Passe</th>
            <th>Action</th>
          </tr>
          <tr>
            <td>Goa</td>
            <td>Marie</td>
            <td>084457146</td>
            <td>hokyvbn@gmail.com</td>
            <td>marie1234</td>
            <td><a href="" class="non"><i class="fa-solid fa-pen-to-square"></i></a><a href="" class="non"><i class="fa-solid fa-trash" ></i></a></td>
          </tr>
          
        </table>
        <h2 class="titreformu">Formulaire d'ajout de nouvel Administrateur</h2>
        <div class="login-box">
          
          <form  method="post" action="">
            <div class="user-box">
              <input type="text" name="name" required="">
              <label>Nom</label>
            </div>
            <div class="user-box">
              <input type="text" name="firstName" required="">
              <label>Prenoms</label>
            </div>
            <div class="user-box">
              <input type="tel" name=" telephone" required="">
              <label>Téléphone</label>
            </div>
            <div class="user-box">
              <input type="email" name=" email" required="">
              <label>Adresse Email</label>
            </div>
            <div class="user-box">
              <input type="password" name="password" required="">
              <label>Mot De Passe</label>
            </div>
            
             
              
          </form>
        </div>
     
       
      </section>
    </div>
  </body>
</html>
