<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@300&family=Poppins:wght@200;300&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>

    <link rel="stylesheet" href="/css/dasbord/dashbordAdmin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <header>
        <div class="menu1">
          <img
            src="/images/Minimal Professional Economics Bank Logo.png"
            alt=""
          />
        </div>

        <div class="menu2">
          <p>
            <i class="fa-sharp fa-solid fa-house"></i>
            <a href="AcceuilSuperAdmin">TABLEAU</a>
          </p>
          <p>
            <i class="fa-sharp fa-solid fa-coins"></i>
            <a href="listeAdmin">ADMINISTRATEURS</a>
          </p>

          <p>
            <i class="fa-solid fa-file-invoice-dollar"></i>
            <a href="#">COMPTES</a>
          </p>

          <p>
            <i class="fa-solid fa-right-to-bracket"></i>
            <a href="connexionAdmins" id="deconnexion">DÉCONNEXION</a>
          </p>
        </div>
      </header>

      <section>
        <h1>LISTE DE TOUS LES COMPTES</h1>

        <table>
          <tr>
            <th>Nom</th>
            <th>Prenoms</th>
            <th>Numéro de Compte</th>
            <th>Date</th>
          </tr>
          <% compte.forEach(element => {%>
          <tr>
            <td><%= element.name %></td>
            <td><%= element.name %></td>
            <td><%= element.name %></td>
            <td><%= element.name %></td>
          </tr>
          <% }); %>
        </table>
      </section>
    </div>
  </body>
</html>
