* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
    
  }
  body{
    background-color: #E3F2F7;
  }
  
  
  header {
    padding-top: 50px;
    height: 100vh;
    text-align: center;
    align-items: center;
    border: 1px solid black;
    background-color: #075367;
    width: 120%;
  }
  img {
    
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .item2 > img {
    border: 1px solid black;
    width: 30px;
    height: 30px;
  }
  .i2 {
    position: absolute;
    width: 15px;
    height: 15px;
    margin-left: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: greenyellow;
    transform: translate(210px);
  }
  .menu1 > p {
    padding-top: 15px;
    background-color: rgba(23, 31, 40, 1);
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  section {
    padding-top: 80px;
    height: 500px;
  }
  .menu1 {
    padding: 25px;
    padding-bottom: 65px;
    background-color: #075367;
    color: white;
  }
  .menu2 > p {
    padding-bottom: 55px;
    display: flex;
    gap: 5%;
    padding: 25px;
    color: white;
  }
  h1 {
    text-align: center;
    padding-bottom: 3rem;
    margin-top: -3rem;
    font-size: 2rem;
    color:#B87410 ;
  }
  
  .box {
    display: flex;
    gap: 25px;
    margin: auto;
    flex-wrap: wrap;
    margin-bottom: 5rem;
    margin-left: 12%;
    margin-right: 5rem;
    justify-content: space-around;
    width: 70%;
  }
  .box_item > i {
    font-size: 55px;
    text-align: center;
    align-items: center;
    color: white;
  }
  .box_item1 {
    padding: 15%;
    text-align: 55%;
    font-size: 25px;
    align-items: center;
    color: white;
  }
  
  p > i {
    font-size: 2.5rem;
    align-items: center;
    text-align: center;
  }
  
  
.i {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    border-radius: 50%;
    border: transparent;
    background-color: greenyellow;
}
  
a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

  table {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #075367;
    line-height: 3rem;
    font-size: 1.3rem;
  }
  
  tr:hover {background-color: #B87410;color: white;}

.non{
   color: black; 
   margin-left: 1rem;
}



  /* super admin */

  .titreformu{
    text-align: center;
    margin-top: 4rem;
    color:#B87410 ;
  }

  .login-box {
    position: absolute;
    top: 45rem;
    left: 72rem;
    width: 500px;
    height: 30rem;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: white;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #075367;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    color: black;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: gray;
    font-size: 1rem;
  }
  
  .login-box form .env {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border: 2px solid white;
    background-color: #075367;
    border-radius: 15px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 30px;
    letter-spacing: 4px
  
  }
  
  .login-box .env:hover {
    background: white;
    color: #075367;
    border-radius: 15px;
    box-shadow: 0 0 5px #B87410,
                0 0 25px #B87410,
                0 0 50px white,
                0 0 100px#B87410;
  }
  
  .login-box .env span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box .env span:nth-child(1) {
    bottom: 4px;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, transparent, #B87410);
    animation: btn-anim1 2s linear infinite;
  }
  