<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Document</title>
</head>
<body>

   
    <header>
        <nav class="navbar">
            <a href="#"class="lien"><img src="/images/Minimal Professional Economics Bank Logo.png" alt="" class="logo"></a>
            <div class="navlinks">
                <ul>
                    <li class="active"><a href="#">ACCEUIL</a></li>
                    <li><a href="#">ESPACE CLIENT</a></li>
                    <li><a href="#">À PROPOS</a></li>
                    <li><a href="#">CONNEXION</a></li>
                </ul>

            </div>

            <img src="/images/burger-menu-svgrepo-com.png" alt="" class="menuburger">

        </nav>
    </header>
    

    <script>

        const menuburger = document.querySelector(".menuburger")
        const navlinks = document.querySelector(".navlinks")

        menuburger.addEventListener('click', ()=>{
            navlinks.classList.toggle('mobile-menu')
        })
    </script>
</body>
</html>